{%- assign predia_blue_url = routes.collections_url | append: '/predia-blue' -%}

<div class="tw-hidden md:tw-grid md:tw-grid-cols-3 md:tw-gap-1">
  <div class="tw-group tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-bg-[#13509b] tw-text-white">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-justify-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/スキンケア">スキンケア<span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span></a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-[#13509b] tw-text-white tw-absolute tw-z-10 tw-w-full">
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/クレンジング">クレンジング</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/洗顔料">洗顔料</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/スキンケア_限定品">限定品</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/スキンケア">すべて</a>
    </div>
  </div>
  <div class="tw-group tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-bg-[#13509b] tw-text-white">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-justify-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/ヘア＆ボディ">ヘア＆ボディ<span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span></a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-[#13509b] tw-text-white tw-absolute tw-z-10 tw-w-full">
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/ヘアケア">ヘアケア</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/ボディケア">ボディケア</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/ハンドケア">ハンドケア</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/トライアル">トライアル</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/ヘア＆ボディ_限定品">限定品</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ predia_blue_url }}/ヘア＆ボディ">すべて</a>
    </div>
  </div>
  <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="{{ predia_blue_url }}/アクセサリー">アクセサリー<span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span></a>
</div>
