{%- assign sekkisei_blue_url = routes.collections_url | append: '/sekkisei-blue' -%}
<script src="{{ 'my-accordion.js' | asset_url }}" defer="defer"></script>

<div class="tw-max-w-[760px] tw-mx-auto">
  <my-accordion>
    <div class="tw-border tw-border-[#13509b] tw-rounded">
      <div class="my-accordion tw-w-full tw-text-left tw-flex tw-justify-between tw-items-center tw-px-5 tw-py-4 tw-cursor-pointer tw-text-[#13509b] tw-font-bold tw-tracking-widest">
        <span>PRODUCTS</span>
        <span class="tw-inline-flex tw-text-[#13509b]" data-accordion-icon>
          <span data-accordion-icon-closed>{% render 'icon-plus', width: 16, height: 16 %}</span>
          <span data-accordion-icon-open hidden>{% render 'icon-minus', width: 16, height: 3 %}</span>
        </span>
      </div>
      <div class="panel">
        <ul class="tw-list-none tw-p-0 tw-m-0 tw-border-t tw-border-[#13509b]">
          <li class="tw-border-b tw-border-[#e5e7eb]">
            <a href="{{ sekkisei_blue_url }}/スキンケア" class="tw-flex tw-justify-between tw-items-center tw-px-5 tw-py-3 tw-no-underline tw-text-current hover:tw-bg-[#f0f5ff]">
              <span>スキンケア</span>
              <span class="tw-inline-flex tw-text-[#13509b]">{% render 'icon-chevron-right', width: 12, height: 12 %}</span>
            </a>
          </li>
          <li class="tw-border-b tw-border-[#e5e7eb]">
            <a href="{{ sekkisei_blue_url }}/ベースメイク" class="tw-flex tw-justify-between tw-items-center tw-px-5 tw-py-3 tw-no-underline tw-text-current hover:tw-bg-[#f0f5ff]">
              <span>ベースメイク</span>
              <span class="tw-inline-flex tw-text-[#13509b]">{% render 'icon-chevron-right', width: 12, height: 12 %}</span>
            </a>
          </li>
          <li class="tw-border-b tw-border-[#e5e7eb]">
            <a href="{{ sekkisei_blue_url }}/ボディ" class="tw-flex tw-justify-between tw-items-center tw-px-5 tw-py-3 tw-no-underline tw-text-current hover:tw-bg-[#f0f5ff]">
              <span>ボディ</span>
              <span class="tw-inline-flex tw-text-[#13509b]">{% render 'icon-chevron-right', width: 12, height: 12 %}</span>
            </a>
          </li>
          <li class="tw-border-b tw-border-[#e5e7eb]">
            <a href="{{ sekkisei_blue_url }}/ライフスタイル" class="tw-flex tw-justify-between tw-items-center tw-px-5 tw-py-3 tw-no-underline tw-text-current hover:tw-bg-[#f0f5ff]">
              <span>ライフスタイル</span>
              <span class="tw-inline-flex tw-text-[#13509b]">{% render 'icon-chevron-right', width: 12, height: 12 %}</span>
            </a>
          </li>
          <li>
            <a href="{{ sekkisei_blue_url }}/その他" class="tw-flex tw-justify-between tw-items-center tw-px-5 tw-py-3 tw-no-underline tw-text-current hover:tw-bg-[#f0f5ff]">
              <span>その他</span>
              <span class="tw-inline-flex tw-text-[#13509b]">{% render 'icon-chevron-right', width: 12, height: 12 %}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </my-accordion>
</div>
