{%- assign sekkisei_blue_url = routes.collections_url | append: '/sekkisei-blue' -%}

<div class="tw-hidden md:tw-grid md:tw-grid-cols-3 md:tw-gap-1">
  <div class="tw-group tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-bg-[#13509b] tw-text-white">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-justify-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/スキンケア">スキンケア<span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span></a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-[#13509b] tw-text-white tw-absolute tw-z-10 tw-w-full">
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/クレンジング">クレンジング</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/洗顔">洗顔</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/化粧水">化粧水</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/美容液%2Fオイル">美容液/オイル</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/クリーム">クリーム</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/UVケア">UVケア</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/トライアル">トライアル</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/限定品">限定品</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/スキンケア">すべて</a>
    </div>
  </div>
  <div class="tw-group tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-bg-[#13509b] tw-text-white">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-justify-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ベースメイク">ベースメイク<span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span></a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-[#13509b] tw-text-white tw-absolute tw-z-10 tw-w-full">
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/化粧下地">化粧下地</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ファンデーション">ファンデーション</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/コンシーラー">コンシーラー</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/フェイスパウダー">フェイスパウダー</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/限定品">限定品</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ベースメイク">すべて</a>
    </div>
  </div>
  <div class="tw-group tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-bg-[#13509b] tw-text-white">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-justify-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ボディ">ボディ<span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span></a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-[#13509b] tw-text-white tw-absolute tw-z-10 tw-w-full">
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ボディケア">ボディケア</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ハンドケア">ハンドケア</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/限定品">限定品</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ボディ">すべて</a>
    </div>
  </div>
  <div class="tw-group tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-bg-[#13509b] tw-text-white">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-justify-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ライフスタイル">ライフスタイル<span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span></a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-[#13509b] tw-text-white tw-absolute tw-z-10 tw-w-full">
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/フレグランスミスト">フレグランスミスト</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ボディケア">ボディケア</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ハンドケア">ハンドケア</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/限定品">限定品</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-current tw-no-underline" href="{{ sekkisei_blue_url }}/ライフスタイル">すべて</a>
    </div>
  </div>
  <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="{{ sekkisei_blue_url }}/その他">その他<span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span></a>
</div>
