{% assign ignis_collection_url = routes.collections_url | append: '/ignis' %}
{% assign counseling_url = 'https://www.albion.co.jp/counseling/' %}

<div class="tw-hidden md:tw-flex md:tw-justify-center tw-min-w-max tw-border-t tw-border-x-0 tw-border-b-0 tw-border-t-black tw-border-solid">
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_collection_url }}?filter.p.tag=クレンジング#Collection">クレンジング</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_collection_url }}?filter.p.tag=洗顔料#Collection">洗顔料</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_collection_url }}?filter.p.tag=乳液#Collection">乳液</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_collection_url }}?filter.p.tag=化粧水#Collection">化粧水</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_collection_url }}?filter.p.tag=美容液#Collection">美容液</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_collection_url }}?filter.p.tag=クリーム#Collection">クリーム</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_collection_url }}?filter.p.tag=スペシャルケア#Collection">スペシャルケア</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_collection_url }}?filter.p.tag=アクセサリー#Collection">雑貨</a>
  <a
    class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50"
    href="{{ counseling_url }}"
    target="_blank"
    rel="noopener"
  >オンラインカウンセリング</a>
</div>
