{% assign ignis_io_collection_url = routes.collections_url | append: '/ignis-io' %}
{% assign ignis_collection_url = routes.collections_url | append: '/ignis' %}
{% assign counseling_url = 'https://www.albion.co.jp/counseling/' %}

<div class="tw-hidden md:tw-flex md:tw-justify-center tw-min-w-max tw-border-t tw-border-x-0 tw-border-b-0 tw-border-t-black tw-border-solid">
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_io_collection_url }}?filter.p.tag=skincare#Collection">Skincare</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_io_collection_url }}?filter.p.tag=UV#Collection">UV</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_io_collection_url }}?filter.p.tag=bodycare#Collection">Bodycare</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_io_collection_url }}?filter.p.tag=harecare#Collection">Harecare</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_io_collection_url }}?filter.p.tag=fragrance#Collection">Fragrance</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_io_collection_url }}?filter.p.tag=handcare#Collection">Handcare</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ ignis_collection_url }}">IGNIS</a>
  <a
    class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50"
    href="{{ counseling_url }}"
    target="_blank"
    rel="noopener"
  >オンラインカウンセリング</a>
</div>
