{% comment %}
  PrédiaBLUE PCグローバルナビゲーション
  仕様書の表示項目を固定表示し、PRODUCTS配下は詳細カテゴリ（3段階）を表示してタグフィルタURLへ遷移する。
{% endcomment %}
{%- assign predia_blue_url = routes.collections_url | append: '/predia-blue' -%}

<div class="tw-hidden md:tw-flex md:tw-justify-center tw-min-w-max">
  <a class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="{{ predia_blue_url }}#about-us">
    ABOUT US
  </a>
  <a class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="{{ predia_blue_url }}#new-arrival">
    NEW ARRIVAL
  </a>
  <a class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="{{ predia_blue_url }}#campaign">
    CAMPAIGN
  </a>
  <a class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="{{ predia_blue_url }}#ranking">
    RANKING
  </a>
  <div class="tw-group tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-bg-[#13509b] tw-text-white">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-white tw-no-underline" href="{{ predia_blue_url }}#products">
      PRODUCTS
      <span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span>
    </a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-[#13509b] tw-text-white">
      <div class="tw-group/nest2 tw-relative tw-text-left hover:tw-bg-[#1d63c4]">
        <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/スキンケア">スキンケア<span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span></a>
        <div class="nested-menu group-hover/nest2:tw-block tw-hidden tw-bg-[#13509b] tw-text-white">
          <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/クレンジング">クレンジング</a>
          <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/洗顔">洗顔</a>
          <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/限定品">限定品</a>
          <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/スキンケア">すべて</a>
        </div>
      </div>
      <div class="tw-group/nest2 tw-relative tw-text-left hover:tw-bg-[#1d63c4]">
        <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/ヘア＆ボディ">ヘア＆ボディ<span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span></a>
        <div class="nested-menu group-hover/nest2:tw-block tw-hidden tw-bg-[#13509b] tw-text-white">
          <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/ヘアケア">ヘアケア</a>
          <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/ボディケア">ボディケア</a>
          <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/ハンドケア">ハンドケア</a>
          <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/限定品">限定品</a>
          <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/ヘア＆ボディ">すべて</a>
        </div>
      </div>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ predia_blue_url }}/その他">その他</a>
    </div>
  </div>
</div>
