{% comment %}
  雪肌精BLUE PCグローバルナビゲーション
  仕様書の表示項目を固定表示し、PRODUCTS配下はタグフィルタURLへ遷移する。
{% endcomment %}
{%- assign sekkisei_blue_url = routes.collections_url | append: '/sekkisei-blue' -%}

<div class="tw-hidden md:tw-flex md:tw-justify-center tw-min-w-max">
  <a class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="{{ sekkisei_blue_url }}#about-us">
    ABOUT US
  </a>
  <a class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="{{ sekkisei_blue_url }}#new-arrival">
    NEW ARRIVAL
  </a>
  <a class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="{{ sekkisei_blue_url }}#campaign">
    CAMPAIGN
  </a>
  <a class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="{{ sekkisei_blue_url }}#ranking">
    RANKING
  </a>
  <div class="tw-group tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-bg-[#13509b] tw-text-white">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-text-white tw-no-underline" href="{{ sekkisei_blue_url }}#products">
      PRODUCTS
      <span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span>
    </a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-[#13509b] tw-text-white">
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ sekkisei_blue_url }}/スキンケア">スキンケア</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ sekkisei_blue_url }}/ベースメイク">ベースメイク</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ sekkisei_blue_url }}/ボディ">ボディ</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ sekkisei_blue_url }}/ライフスタイル">ライフスタイル</a>
      <a class="tw-px-4 tw-py-2 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ sekkisei_blue_url }}/その他">その他</a>
    </div>
  </div>
  <a class="tw-px-4 tw-py-2 tw-h-10 tw-relative tw-text-left hover:tw-bg-[#1d63c4] tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-bg-[#13509b] tw-text-white tw-no-underline" href="https://sekkisei.jp/site/p/sekkiseiblue_counseling.aspx" target="_blank" rel="noopener">
    Find Balance
  </a>
</div>
