{% assign elegance_collection_url = routes.collections_url | append: '/elegance' %}
{% assign counseling_url = 'https://www.albion.co.jp/counseling/' %}

<div class="tw-hidden md:tw-flex md:tw-justify-center tw-min-w-max tw-border-t tw-border-x-0 tw-border-b-0 tw-border-t-black tw-border-solid">
  <div class="tw-group tw-relative tw-text-left hover:tw-bg-slate-50">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ elegance_collection_url }}?filter.p.tag=ポイントメイク#Collection">
      ポイントメイク
      <span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span>
    </a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-white">
      <a class="tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=アイ#Collection">アイ</a>
      <a class="tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=リップ#Collection">リップ</a>
      <a class="tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=フェイスカラー#Collection">フェイスカラー</a>
      <a class="tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=ネイル#Collection">ネイル</a>
    </div>
  </div>

  <div class="tw-group tw-relative tw-text-left hover:tw-bg-slate-50">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ elegance_collection_url }}?filter.p.tag=ベースメイク#Collection">
      ベースメイク
      <span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span>
    </a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-white">
      <a class="tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=メイクアップベース#Collection">メイクアップベース</a>
      <a class="tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=ファンデーション#Collection">ファンデーション</a>
      <a class="tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=フェイスパウダー#Collection">フェイスパウダー</a>
    </div>
  </div>

  <div class="tw-group tw-relative tw-text-left hover:tw-bg-slate-50">
    <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current" href="{{ elegance_collection_url }}?filter.p.tag=ツール#Collection">
      ツール
      <span class="tw-inline-flex tw-text-lg tw-leading-none tw-text-current">{% render 'icon-chevron-right' %}</span>
    </a>
    <div class="nested-menu group-hover:tw-block tw-hidden tw-bg-white">
      <a class="tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=リムーバー#Collection">リムーバー</a>
      <a class="tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=ブラシ#Collection">ブラシ</a>
      <a class="tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=パフ・スポンジ#Collection">パフ・スポンジ</a>
    </div>
  </div>

  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=スキンケア#Collection">スキンケア</a>
  <a class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50" href="{{ elegance_collection_url }}?filter.p.tag=ラッピング#Collection">ラッピング</a>
  <a
    class="tw-h-10 tw-px-4 tw-py-2 tw-flex tw-items-center tw-text-sm tw-tracking-widest tw-no-underline tw-text-current hover:tw-bg-slate-50"
    href="{{ counseling_url }}"
    target="_blank"
    rel="noopener"
  >オンラインカウンセリング</a>
</div>
