{% assign ignis_collection_url = routes.collections_url | append: '/ignis' %}

<div class="sp-only tw-mt-8">
  <h3 class="tw-text-center tw-text-xl tw-font-bold tw-mb-6">CATEGORY</h3>
  <div class="tw-grid tw-grid-cols-2 tw-gap-4">
    <a class="tw-no-underline tw-text-current" href="{{ ignis_collection_url }}?filter.p.tag=クレンジング#Collection">
      <img class="tw-w-full tw-h-auto" src="{{ 'ignis_category_cleansing_tate.jpg' | file_url }}" alt="クレンジング" width="600" height="900">
    </a>
    <a class="tw-no-underline tw-text-current" href="{{ ignis_collection_url }}?filter.p.tag=洗顔料#Collection">
      <img class="tw-w-full tw-h-auto" src="{{ 'ignis_category_facewash_tate.jpg' | file_url }}" alt="洗顔料" width="600" height="900">
    </a>
    <a class="tw-no-underline tw-text-current" href="{{ ignis_collection_url }}?filter.p.tag=乳液#Collection">
      <img class="tw-w-full tw-h-auto" src="{{ 'ignis_category_milk_tate.jpg' | file_url }}" alt="乳液" width="600" height="900">
    </a>
    <a class="tw-no-underline tw-text-current" href="{{ ignis_collection_url }}?filter.p.tag=化粧水#Collection">
      <img class="tw-w-full tw-h-auto" src="{{ 'ignis_category_lotion_tate.jpg' | file_url }}" alt="化粧水" width="600" height="900">
    </a>
    <a class="tw-no-underline tw-text-current" href="{{ ignis_collection_url }}?filter.p.tag=美容液#Collection">
      <img class="tw-w-full tw-h-auto" src="{{ 'ignis_category_essence_tate.jpg' | file_url }}" alt="美容液" width="600" height="900">
    </a>
    <a class="tw-no-underline tw-text-current" href="{{ ignis_collection_url }}?filter.p.tag=クリーム#Collection">
      <img class="tw-w-full tw-h-auto" src="{{ 'ignis_category_cream_tate.jpg' | file_url }}" alt="クリーム" width="600" height="900">
    </a>
    <a class="tw-no-underline tw-text-current" href="{{ ignis_collection_url }}?filter.p.tag=スペシャルケア#Collection">
      <img class="tw-w-full tw-h-auto" src="{{ 'ignis_category_specialcare_tate.jpg' | file_url }}" alt="スペシャルケア" width="600" height="900">
    </a>
    <a class="tw-no-underline tw-text-current" href="{{ ignis_collection_url }}?filter.p.tag=アクセサリー#Collection">
      <img class="tw-w-full tw-h-auto" src="{{ 'ignis_category_tools_tate.jpg' | file_url }}" alt="雑貨" width="600" height="900">
    </a>
  </div>
</div>
