{% comment %}
  IGNIS iO カテゴリページ下部 SP用カテゴリナビ
  6カテゴリのシンプルなリスト
{% endcomment %}
{% assign ignis_io_collection_url = routes.collections_url | append: '/ignis-io' %}

<div class="sp-only tw-mt-8">
  <h3 class="tw-text-center tw-text-xl tw-font-bold tw-mb-6">PRODUCT</h3>
  <ul class="tw-list-none tw-pl-0 tw-m-0 tw-border tw-border-gray-200">
    <li class="tw-border-b tw-border-gray-200 last:tw-border-b-0">
      <a href="{{ ignis_io_collection_url }}?filter.p.tag=skincare" class="tw-flex tw-justify-between tw-items-center tw-p-4 tw-no-underline tw-text-black">Skincare</a>
    </li>
    <li class="tw-border-b tw-border-gray-200 last:tw-border-b-0">
      <a href="{{ ignis_io_collection_url }}?filter.p.tag=UV" class="tw-flex tw-justify-between tw-items-center tw-p-4 tw-no-underline tw-text-black">UV</a>
    </li>
    <li class="tw-border-b tw-border-gray-200 last:tw-border-b-0">
      <a href="{{ ignis_io_collection_url }}?filter.p.tag=bodycare" class="tw-flex tw-justify-between tw-items-center tw-p-4 tw-no-underline tw-text-black">Bodycare</a>
    </li>
    <li class="tw-border-b tw-border-gray-200 last:tw-border-b-0">
      <a href="{{ ignis_io_collection_url }}?filter.p.tag=harecare" class="tw-flex tw-justify-between tw-items-center tw-p-4 tw-no-underline tw-text-black">Harecare</a>
    </li>
    <li class="tw-border-b tw-border-gray-200 last:tw-border-b-0">
      <a href="{{ ignis_io_collection_url }}?filter.p.tag=fragrance" class="tw-flex tw-justify-between tw-items-center tw-p-4 tw-no-underline tw-text-black">Fragrance</a>
    </li>
    <li class="tw-border-b tw-border-gray-200 last:tw-border-b-0">
      <a href="{{ ignis_io_collection_url }}?filter.p.tag=handcare" class="tw-flex tw-justify-between tw-items-center tw-p-4 tw-no-underline tw-text-black">Handcare</a>
    </li>
  </ul>
</div>
