{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}
{% render 'blue-google-fonts' %}

{%- style -%}
  @media screen and (max-width: 749px) {
  .collection-hero--with-image .collection-hero__inner {
  padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
  }
  }
{%- endstyle -%}

<!--  雪肌精BLUEヘッダーここから  -->
<div class="cpb-header blue-brand-font">
  <h1 class="brand-logo tw-relative tw-mt-4 md:tw-max-w-[900px] md:tw-mx-auto">
    <a href="{{ routes.collections_url }}/sekkisei-blue"><img
          class="tw-mx-auto tw-w-[200px] md:tw-w-[260px]"
          src="{{ 'sekkisei-blue.svg' | file_url }}"
          alt="雪肌精 BLUE | Perfumerie Sukiya" width="260" height="78"></a>
    <img class="tw-absolute tw-top-1/2 -tw-translate-y-1/2 tw-w-[60px] md:tw-w-[80px] tw-right-5 md:tw-right-[20%]"
         src="{{ 'sekkisei-blue-authorized-retailer-logo.png' | asset_url }}"
         alt="ブランド認定正規品取扱店舗 雪肌精 BLUE"
         width="400" height="400"
    >
  </h1>

  {% render 'header-navigation-sekkisei-blue' %}
</div>
<!--  雪肌精BLUEヘッダーここまで  -->

{% schema %}
{
  "name": "コレクションバナー雪肌精BLUE",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
